.kpi-container {
	font-family: 'Open Sans';
	display: block;
	margin: auto;
	text-align: center;
	min-width: 200px;
	max-width: 300px;
	padding: 10px;
}
.kpi-title {
	display: inline-block;
	text-align: left;
	font-size: 12px;
	font-weight: 700;
	width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}
.kpi-title.compare {
	width: 60%;
}
.kpi-change {
	display: inline-block;
	text-align: right;
	font-size: 12px;
	width: 40%;
}
.kpi-total {
	display: inline-block;
	text-align: left;
	font-size: 20px;
	padding: 5px 0 0 0;
	vertical-align: middle;
	width: 70px;
}
.kpi-sparkline {
	display: inline-block;
	text-align: right;
	padding: 5px 0 0 0;
	vertical-align: middle;
	width: calc(100% - 70px);
}
.placeholder{position:absolute;left:0;top:0;width:100%;height:100%;text-align:center;font-size:18px;padding:30px 20px;background-color:rgba(255,255,255,.8);box-sizing:border-box}