/* Copyright 1996-2014 Information Builders, Inc. All rights reserved. */
/* $Revision: 1.2 $ */

.com_ibi_gauge text {
  fill: black;
  font: 12px Calibri, Arial;
  text-anchor: middle;
}

.com_ibi_gauge_table {
	  font: 12px Calibri, Arial;
}

.c3-gauge-value{

}