/* Copyright 1996-2015 Information Builders, Inc. All rights reserved. */

.kpi-table-container {
	font-family: 'Open Sans';
	display: block;
	margin: auto;
	text-align: center;
	min-width: 200px;
	max-width: 300px;
	padding: 10px;
	overflow: hidden;
}
.kpi-table-nav {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.kpi-table-nav-pill {
	display: inline-block;
	padding: 0 4px;
	opacity: .7;
	text-decoration: none;
    color: inherit;
}
.kpi-table-nav-pill:hover {
	text-decoration: underline;
}
.kpi-table-nav-pill.active:hover,
.kpi-table-nav-pill.active {
	display: inline-block;
	padding: 0 4px;
	opacity: 1;
	text-decoration: none;
}
.kpi-table-slide {
	position: absolute;
    width: 100%;
	max-width: 280px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
}
.multi>.kpi-table-slide {
	top: 35px;
}
.kpi-table-slide.active {
	display: block;
}
.kpi-table-slide table {
    width: 100%;
    border-collapse: collapse;
}
.kpi-table-heading-title {
	font-size: 16px;
	font-weight: 400;
	text-align: left;
    vertical-align: top;
}
.kpi-table-heading-nbr {
	font-size: 24px;
	font-weight: 700;
	text-align: right;
}
.kpi-table-title {
	font-size: 14px;	
	font-weight: 400;	
}
.kpi-table-data {
	font-size: 16px;	
	font-weight: 700;
}
.placeholder{position:absolute;left:0;top:0;width:100%;height:100%;text-align:center;font-size:18px;padding:40px 20px;background-color:rgba(255,255,255,.8);box-sizing:border-box}