/* Copyright 1996-2014 Information Builders, Inc. All rights reserved. */
/* $Revision: 1.2 $ */

.com_ibi_chart text {
}

.svgContainer {display:block;margin:auto;background-color:rgba(128,128,255,0.2);border:1px solid black;}
.circles {fill:none;}
.series {stroke-width:2;opacity:0.6;}
.point {stroke-width:0.5;opacity:0.35;fill:rgba(255,255,255,0.5);cursor:default;}
.lblAxis {fill:rgba(255,255,255,0.8);text-anchor:middle;}

.svg_fill {
  background: rgb(64,64,255); /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,rgb(64,64,255),rgb(128,128,255),rgb(64,64,255));
   /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,rgb(64,64,255),rgb(128,128,255),rgb(64,64,255));
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,rgb(64,64,255),rgb(128,128,255),rgb(64,64,255));
   /* Standard syntax */
  background: linear-gradient(to right, rgb(64,64,255),rgb(128,128,255),rgb(64,64,255)); 
}