/* Copyright 1996-2014 Information Builders, Inc. All rights reserved. */
/* $Revision: 1.2 $ */
.com_ibi_hexbinscatter .axes line {
	stroke: black;
	stroke-width: 1;
}

.com_ibi_hexbinscatter .axes path {
	stroke: black;
	stroke-width: 1;
	fill: none;
}
.com_ibi_hexbinscatter text {
	fill: black;
	font-family: sans-serif;
	font-size: 12;
}

.x-axis-title text {
	font-weight: bold;
	font: 14px sans-serif;
}

.y-axis-title text {
	font-weight: bold;
	font: 14px sans-serif;
}